.containerOut {
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 0 0 12px;
}

.containerIn {
  display: flex;
  gap: 8px;

  padding: 8px;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 6px;
  box-shadow:
    1px 1px 2px 0px #1c7ed61a,
    0px 0px 6px 0px #1864ab10;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 32px;
  height: 32px;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: #64666e;

  &:hover {
    background-color: #f1f3f5;
    border-color: #adb5bd;
  }

  &:active {
    background-color: #e9ecef;
    border-color: #868e96;
  }
}

.shortcutBadge {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 14px;
  height: 14px;
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;

  font-size: 10px;
  font-weight: 900;
  line-height: 14px;
  text-align: center;
  color: #495057;
}

.button.selected {
  background-color: #e7f5ff;
  border-color: #4dabf7;
  color: #1971c2;

  .shortcutBadge {
    color: #1971c2;
  }
}
