.sidebar {
  height: auto;
  width: 300px;
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 8px;
  padding: 8px;

  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 6px;
  box-shadow:
    1px 1px 2px 0px #1c7ed61a,
    0px 0px 6px 0px #1864ab10;
}
